<!--Tree -->
<div class="editorBody">

    <div class="container-fluid no-gutter">
        <div class="row-fluid fill no-gutter">
            <div class="col-sm-4 fill-height no-gutter">
                <instrument-tree></instrument-tree>
            </div>
            
            <div class="col-sm-8 fill-height no-gutter">
                <div id="instrumentTree" class="card fill-height">
                    <h3 class="card-header">Main</h3>
                    <div class="card-block">
                        main content
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="editorStatus">
    Status bar
</div>